::-webkit-scrollbar {
  width: 0;
  height: 0;
}


/* .react-datepicker__header {
  text-align: center;
  background-color: #FFF !important;
  border-bottom: unset !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
 
} */
.react-datepicker {
  font-family: 'Manrope' !important;
  font-size: 0.8rem;
  border: 1px solid rgb(217, 217, 217) !important;
}



